

  <!-- The Modal -->
 <div style="padding: 80px 200px 100px 200px ">
        <!-- Modal body -->
               <div class="modal-body" style="background-color: aliceblue; border:2px solid black;" >

            
              <form  [formGroup]="register" (ngSubmit)="save()">
                
  <marquee style="color: red;">Full expected name as appearing in proof of identity</marquee><hr>
  <div style="margin-left: 30px;">
    <div class="form-group row">
    <label class="col-sm-5 col-form-label">Please Select Title <span style="color: red;">*</span></label>

    <div  class="col-sm-7">
    <select  style="width: 202px;height: 30px;" formControlName="title">

      
        <option value="" >--Select Title-- </option>
        <option value="Mr.">Mr.</option>
        <option value="Mrs.">Mrs.</option>
        <option value="Mast.">Mast.</option>
        <option value="Miss.">Miss.</option>
        <option value="Smt.">Smt.</option>
        <option value="Dr.">Dr.</option>
        
        <option value="Mx.">Mx.</option>
        <option value="B/o">B/o</option>
        <option value="Fetus of">Fetus of</option>
     
    </select>
<input type="hidden" formControlName="registerdate" [ngModel]="a1 |date">
    </div>
  </div>

  <div class="form-group row">
    <label for="lastName" class="col-sm-5 col-form-label">Last Name/ Surname<span style="color: red;">*</span></label>
    <div class="col-sm-7">
      <input type="text"  id="lastName" formControlName="lastname"  placeholder="Enter Last Name" >
    </div>
  </div>


  <div class="form-group row">
    <label for="firstname" class="col-sm-5 col-form-label">firstName<span style="color: red;">*</span></label>
    <div class="col-sm-7">
      <input type="text"  id="firstname" placeholder="Enter First Name"  formControlName="firstname" >
    </div>
  </div>
                

  <div class="form-group row">
    <label for="middle" class="col-sm-5 col-form-label">Middle Name</label>
    <div class="col-sm-7">
      <input type="text"  id="middle" placeholder="Enter Middle Name"  formControlName="middlename" >
    </div>
  </div>

  <div class="form-group row">
    <label for="middle" class="col-sm-5 col-form-label">Age<span style="color: red;">*</span></label>
    <div class="col-sm-7">
      <input type="text"  id="middle" placeholder="Enter Patient Age"  formControlName="age" >
    </div>
  </div>

                   
  <div class="form-group row">
    <label class="col-sm-5 col-form-label">Please Select Gender<span style="color: red;">*</span></label>

    <div  class="col-sm-7">
    <select  style="width: 202px;height: 30px;" formControlName="gender"   >

      <option value="" >-- Select Gender--</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
     
    </select>

    </div>
  </div>        

  <div class="form-group row">
    <label for="mobno" class="col-sm-5 col-form-label">Mobile Number<span style="color: red;">*</span></label>
    <div class="col-sm-7">
      <input type="tel"  id="mobno"  placeholder="Enter Mobile Number" formControlName="mobno" >
    </div>
  </div>  
                
                
  
                
    
                



                    <div class="form-group row">

                      <div class="form-outline" style="margin-left: 185px;">
                        <input style="width: 200px; " class="btn btn-primary btn-lg" [disabled]="register.invalid"  type="submit" value="Submit" >

                      </div>
                    </div>
                    </div>
<br>
                  </form>     
                   
               
              </div>

       </div>


