

<h1 style="color: black;"><u>Patient List</u></h1>
<div class="row" style="width: 1000px;">
  <div class="col-4"  >
  Page Size Select here
  <select style="height: 25px;" (change)="onTablesizeChange($event)">

    <option *ngFor="let size of tablesizes">{{size}}</option>

  </select>
</div > 
 <div class="col-8" style="padding-left: 350px;">
  Search Here <input  style=" margin-bottom: 10px;" type="text" name="search" [(ngModel)]="p" placeholder="search">
</div>

</div>

<div class="tbl-header"  >
  <table cellpadding="0" cellspacing="0" border="0" >
    <thead>
      <tr>
        <th scope="col" style="width: 30px;" >Id</th>
        <th scope="col" style="width: 50px;"> <u>Title</u> </th>
        <th scope="col" style="width: 200px;"> <u>Date of Registration</u> </th>
        <th scope="col" style="width: 250px;"><u> Name Of Patient</u> </th>
        <th scope="col"><u> Age</u>  </th>
        <th scope="col" ><u>Gender</u> </th>
        <th scope="col" ><u>Contact No.</u> </th>
        <th scope="col"style="text-align: center;"><u>Action</u> </th>
      </tr>
    </thead>
  </table>
</div>
<div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody *ngFor="let p of ppr | filter:  p |paginate :{
        itemsPerPage: tablesize,
        currentPage:page,
        totalItems:counts
      }" let i="index">
      <tr *ngIf="p.patientType=='OPD' ">
      
        <td style="width: 30px;">{{p.id}}</td>
        <td style="width: 50px;">{{p.title}}</td>
        <td style="width: 200px; text-align: center;">{{p.registerdate | date:"dd/MM/YYYY"}}</td>
        <td style="width: 250px;">{{p.lastname}}  {{p.firstname}}  {{p.middlename}}</td>
        <td>{{p.age}}</td>
        <td >{{p.gender}} </td>
        <td >{{p.mobno}}</td>
     
        <td style="text-align: center;"> <a routerLink="/patientRF/patient/opdBill/{{p.id}}"> Bill</a>  <a style="margin-left: 20px ;"  routerLink="/opdAdm/{{p.id}}"> <i  class="fa fa-print"  aria-hidden="true"></i></a> </td>
   
 </tr>
      
    </tbody>
  </table>

</div>

<div style="margin-left: 700px;">
  
  <pagination-controls
    previousLabel="prev"
    nextLabel="Next"
    (pageChange)="onTablechange($event)"
  >
  </pagination-controls>
  
  
    </div>


