

<div class="abc" style="margin-top: 5px;">   
 
    <h2 class="logo"><span>SwamiSamarth</span>Hospital</h2>

    <nav class="navigation" style="margin-left: 90px;">
        <a href="" style="font-size: 20px;">Home</a>
        <a href="about" style="font-size: 20px;">About</a>
        
        <a href="contact" style="font-size: 20px;">Contact</a>
    </nav>
    <nav  >
    </nav>
    </div>


   


    <div style="padding-top: 60px;">
        <div class="row w-100 p-0 m-0" >
      
          <div class="col-10 p-0 "  >
            <picture  >
                <img src="https://previews.123rf.com/images/kurhan/kurhan1510/kurhan151001186/46515699-group-of-hospital-doctors-health-care-banner-background.jpg" alt="Home Loan" class="w-100">
                </picture>
             
              
          </div>
      
          
          <div class="col-2 p-0 " >
      
      
            <div style="background-color: rgb(202, 240, 230);  height: 480px;" >
                
                <br><br>
                    <a  href="enquiry" class="button">Admin</a><br><br>
                    <a routerLink="PatientRF" class="button" (click)="save()">Patient</a><br><br>
                    <a href="enquiry" class="button">Doctor</a><br><br>
                    <a href="emicalculator" class="button">User </a>
                
           
            </div>


          </div>
          <div style="height: 55px;">
 <marquee behavior="" direction="" style="color: red;">SwamiSamarth Hospital</marquee>
          </div>
        </div>



<router-outlet></router-outlet>