<div class="row">
<label  class="col-3"> OPD ID</label>
<div class="col-3">
  <input type="tel"    placeholder="Enter OPD ID "  autocomplete="off" [(ngModel)]="opdid" >
</div>

  
    <button (click)="makepdf()" class="col-1"  >  <i  class="fa fa-print"  aria-hidden="true"></i></button> 
    <button (click)="back()"  class="col-1" style="margin-left: 20px;">  Back</button>
</div>
<div style="margin-left: 50px; margin-top: 50px;" id="content" #content>


<div style=" margin-left: 40px;">
<img src="/assets/images/logo.jpeg">


<!-- <h5 style="text-align: center;margin-top: -15px;">Admission Form</h5> -->

<div style=" border-top: 2px solid rgb(236, 156, 7); border-bottom: 2px solid black; margin-top: 10px; ">

<div style="margin-left: 10px; margin-bottom: 10px;">

<table >
   
    <tr>
        <th style="width: 110px;">UHID </th> <td style="width: 250px;">: {{pp.id}}</td>
        <th style="width: 110px;">Consultant </th> <td style="width: 150px;">: {{pp.drdetails.drname}}</td>
    </tr>
    <tr>
        <th style="width: 110px;">Patient Name </th> <td style="width: 250px; "> : {{pp.title}} {{pp.firstname}} {{pp.middlename}} {{pp.lastname}}</td>
        <th style="width: 110px;">OPD No </th><td style="width: 150px;">: {{opdid}}</td>
    </tr>
    <tr>
        <th style="width: 110px;">Age / Sex</th> <td style="width: 250px;">: {{pp.age}}Y / {{pp.gender}}</td>
        <th style="width: 110px;">Visite Date</th> <td style="width: 150px;">: {{currentDate | date:"dd/MM/YYYY "}} &nbsp; {{currentDate | date:"HH:mm "}}</td>
    </tr>
    <tr>
        <th style="width: 110px;">Department </th> <td style="width: 250px;">: {{pp.drdetails.drdept}}</td>
        <th style="width: 110px;">Address </th> <td style="width: 150px;">: {{pp.address}}</td>
    </tr>
  
    <tr>
        <th style="width: 110px;">Mobile No. </th> <td style="width: 250px;">: {{pp.mobno}}</td>
        <th style="width: 110px;">Ref Doctor</th> <td style="width: 150px;">: {{pp.drdetails.reffdr}}</td>
    </tr>
   
</table>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    
    

<div style="font-size: x-small;border-top: 2px solid rgb(0, 0, 0); border-bottom: 2px solid black; margin-top: -2px;">
    
    
    <div style="font-size: small;font-family: 'Times New Roman', Times, serif; "> <div style="margin-left: 10px;">
      <b> S.No. 133/20/1/1, W-4, Near Hotel Jalsa & KTM Showroom, Pune - Mumbai Bypass Highway, Warje, Pune 411058 For Appointment :- 9130350101  020-25232323  pmhhospital2021@gmail.com
    </b> </div></div>

   

</div>




