<div class="abc">   
 
    <h2 class="logo"><span>SwamiSamarth</span>Hospital</h2>
  
    <nav class="navigation" style="margin-left: 90px; font-size: 20px;">
        <a href="">Home</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
    </nav>
    <nav  >
    </nav>
    </div>
    <div>

<div style="background-color: aliceblue;" >
<div style="margin: 69px 200px 100px 200px; border:2px solid black;">
<div style="margin: 10px; " id="content" #content>
    
    <form [formGroup]="patient" style="background-color: white;" (ngSubmit)="save()">
        <h4>Patient Registration Form</h4><hr>
    <div class="form-group row">
      <input type="hidden" formControlName="id">
      <label for="audit" class="col-sm-4 col-form-label">शासन</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="audit" placeholder="Audit By" formControlName="auditby">
      </div>
    </div>

      <div class="form-group row">
        <label for="enter" class="col-sm-4 col-form-label">Enter By</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="enter" placeholder="Enter By" formControlName="enterby">
        </div>
    </div>

    <div class="form-group row">
        <label for="date" class="col-sm-4 col-form-label">Date of Registration</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="date" formControlName="registerdate" >
        </div>
      </div>
  
        <div class="form-group row">
          <label for="mrd" class="col-sm-4 col-form-label">MRD No.</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="mrd" placeholder="Enter MRD Number" formControlName="mrdno">
          </div>
      </div>
    
    <div class="form-group row"  formGroupName="doc">
      <label for="idproof" class="col-sm-4 col-form-label">ID proof of Patient</label>
      <div class="col-sm-8">
        <input type="checkbox"  id="idproof" value="yes" formControlName="aadhaar">Aadhaar Card  <input type="checkbox"  id="idproof" value="yes"  formControlName="pan">Pan Card         <input type="checkbox"  id="idproof" value="yes"  formControlName="driving">Driving Livcense         <input type="checkbox"  id="idproof" value="yes" formControlName="election">Election Card         <input type="checkbox"  id="idproof" value="yes" formControlName="passport" >Passport
      </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label">Please Select Gender</label>

        <div  class="col-sm-8">
        <select style="width: 240px;" formControlName="gender"   >

          <option value="" >-- Select Gender--</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
         
        </select>

        </div>
      </div>
<hr>
<h5>Name & Age of Patient (Full expected name as appearing in proof of identity)</h5>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Please Select Title</label>

        <div  class="col-sm-8">
        <select style="width: 240px;"  formControlName="title">

          
            <option value="" >--Select Title-- </option>
            <option value="Mr.">Mr.</option>
            <option value="Mrs.">Mrs.</option>
            <option value="Mast.">Mast.</option>
            <option value="Miss.">Miss.</option>
            <option value="Smt.">Smt.</option>
            <option value="Dr.">Dr.</option>
            
            <option value="Mx.">Mx.</option>
            <option value="B/o">B/o</option>
            <option value="Fetus of">Fetus of</option>
         
        </select>

        </div>
      </div>
  

      <div class="form-group row">
        <label for="lastName" class="col-sm-4 col-form-label">Last Name/ Surname </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="lastName" formControlName="lastname" >
        </div>
      </div>


      <div class="form-group row">
        <label for="firstname" class="col-sm-4 col-form-label">firstName</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="firstname" placeholder="Enter first Name"  formControlName="firstname" >
        </div>
      </div>



      <div class="form-group row">
        <label for="middle" class="col-sm-4 col-form-label">Middle Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="middle" placeholder="Enter Middle Name"  formControlName="middlename" >
        </div>
      </div>

      <div class="form-group row">
        <label for="dob" class="col-sm-4 col-form-label">Age</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="dob" formControlName="age">
        </div>
      </div>
      
      <div class="form-group row">
        <label for="dob" class="col-sm-4 col-form-label">Date of Birth</label>
        <div class="col-sm-8">
          <input type="date" class="form-control" id="dob"  formControlName="dob">
        </div>
      </div>

      
      <hr>
<h4>Local Address (in pune)</h4>
<div formGroupName="laddr">
      <div class="form-group row" >
        <label for="flat" class="col-sm-4 col-form-label">Flat / Room / Block No.</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="flat" formControlName="flatno">
        </div>
      </div>


      <div class="form-group row">
        <label for="Premises" class="col-sm-4 col-form-label">Premises/Building/Villages</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="Premises" formControlName="village">
        </div>
      </div>



      <div class="form-group row">
        <label for="landmark" class="col-sm-4 col-form-label"> Nearby Landmark</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="landmark" formControlName="landmark" >
        </div>
      </div>

      <div class="form-group row">
        <label for="lane" class="col-sm-4 col-form-label">Road/Lane/Post Office</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="lane" formControlName="postOffice">
        </div>
      </div>

      
      <div class="form-group row">
        <label for="area" class="col-sm-4 col-form-label">Area/Locality/Taluka</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="area" formControlName="taluka">
        </div>
      </div>
<hr>
</div>
<h4>Permanent Address</h4>

<div formGroupName="paddr">
<div class="form-group row">
    <label for="flat" class="col-sm-4 col-form-label">Flat / Room / Block No.</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="flat" formControlName="flatno">
    </div>
  </div>


  <div class="form-group row">
    <label for="Premises" class="col-sm-4 col-form-label">Premises/Building/Villages</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="Premises" formGroupName="village">
    </div>
  </div>



  <div class="form-group row">
    <label for="landmark" class="col-sm-4 col-form-label"> Nearby Landmark</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="landmark" formControlName="landmark">
    </div>
  </div>

  <div class="form-group row">
    <label for="lane" class="col-sm-4 col-form-label">Road/Lane/Post Office</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="lane" formControlName="postOffice" >
    </div>
  </div>

  
  <div class="form-group row">
    <label for="area" class="col-sm-4 col-form-label">Area/Locality/Taluka</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="area" formControlName="taluka">
    </div>
  </div>

  <div class="form-group row">
    <label for="town" class="col-sm-4 col-form-label">Town/City/District</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="town" formControlName="district">
    </div>
  </div>

  <div class="form-group row">
    <label for="state" class="col-sm-4 col-form-label">State /Union Territory</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="state" formControlName="state">
    </div>
  </div>

  <div class="form-group row">
    <label for="pin" class="col-sm-4 col-form-label">Pincode / Zip Code</label>
    <div class="col-sm-8">
      <input type="tel" class="form-control" id="pin" formControlName="pincode" >
    </div>
  </div>

  <div class="form-group row">
    <label for="country" class="col-sm-4 col-form-label">Country Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="country"formControlName="country" >
    </div>
  </div>

</div>
  <hr>
  <h4>Patient Contact Number,EmailID, ADHAAR & PAN </h4>
  <div class="form-group row">
    <label for="mobno" class="col-sm-4 col-form-label">Mobile Number</label>
    <div class="col-sm-8">
      <input type="tel" class="form-control" id="mobno"  formControlName="mobno" >
    </div>
  </div>
<div formGroupName="cd">


  <div class="form-group row">
    <label for="tele" class="col-sm-4 col-form-label">Telephone No.with Area /STD Code</label>
    <div class="col-sm-8">
      <input type="tel" class="form-control" id="tele" >
    </div>
  </div>


  



  <div class="form-group row">
    <label for="alternate" class="col-sm-4 col-form-label"> Alternate Mobile Number</label>
    <div class="col-sm-8">
      <input type="tel" class="form-control" id="alternate" formControlName="altmobileno">
    </div>
  </div>

  <div class="form-group row">
    <label for="lane" class="col-sm-4 col-form-label">Email ID</label>
    <div class="col-sm-8">
      <input type="email" class="form-control" id="lane" formControlName="email" >
    </div>
  </div>

  
  <div class="form-group row">
    <label for="adhar" class="col-sm-4 col-form-label">AADHAAR Number </label>
    <div class="col-sm-8">
      <input type="tel" class="form-control" id="adhar" formControlName="adhaar">
    </div>
  </div>

  <div class="form-group row">
    <label for="pan" class="col-sm-4 col-form-label">Parmanent Account Number(PAN)</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="pan" formControlName="pan" >
    </div>
  </div></div>
<hr>
<h4>Source of Income:Salary Other Source Business/Profession, No Income, Monthly Income </h4>
<div formGroupName="income">
  <div class="form-group row">
    <label for="bills" class="col-sm-4 col-form-label">Who will pay bills?</label>
    <div class="col-sm-8">
      <input type="checkbox"  id="bills" formControlName="paybill">self
      <input type="checkbox"  id="bills" (click)="company()">company
    </div>
  </div>

  <div class="form-group row" *ngIf="count==1 || count==3 || count==5 || count==7 || count==9">
    <label for="company" class="col-sm-4 col-form-label">Name of Company</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="company" formControlName="companyname" >
    </div>
  </div>

  <div class="form-group row">
    <label for="consalant" class="col-sm-4 col-form-label">Consultant's Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="consalant" formControlName="consaltantname" >
    </div>
  </div>

  <div class="form-group row">
    <label for="representative" class="col-sm-4 col-form-label">Name of the Representative</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="representative" formControlName="nameofRepresentative">
    </div>
  </div>

  <div class="form-group row">
    <label for="relation" class="col-sm-4 col-form-label">Representative Relation to Patient</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="relation" formControlName="realationToPatient">
    </div>
  </div>



</div>



















    <div class="form-group row">
      <div class="col-sm-10">
        <input type="submit"  style="margin-left: 350px; width: 150px;" class="btn btn-primary" value="Submit" [disabled]="patient.invalid" >
        <button (click)="makepdf()">pdf</button>
      </div>
    </div>


  </form></div></div></div>