<br>


<div style="margin-left: 50px;height: 500px; "   #content >
<div class="row" style="border: 1px solid black; margin:0px 10px 10px 10px;">

   
        
        <div style="margin-left: 10px;font-size: small;">
        <br>
        <table  >
        
           
            <tr>
                <th style="width: 150px;text-align: left;">Patient Name </th> <td style="width: 550px; ">:{{pp.title}} {{pp.firstname}} {{pp.middlename}} {{pp.lastname}}</td>
                <th style="width: 110px;text-align: left;">IPD No</th> <td style="width: 150px;">:{{pp.id}}</td>
            </tr>
            <tr>
                <th style="width: 150px;text-align: left;">Age /Gender </th> <td style="width: 250px;">:{{pp.age}} &nbsp;Y/{{pp.gender}}</td>
                <th style="width: 110px;text-align: left;">Department </th> <td style="width: 150px;">:{{pp.drdetails.drdept}}</td>
        
        
            </tr>
            <tr>
                <th style="width: 150px;text-align: left;">Admitted Date </th><td style="width: 250px;">:{{pp.registerdate}}</td>
                <th style="width: 110px;text-align: left;"> Consultant Doctor</th> <td style="width: 250px;">:{{pp.drdetails.drname}} </td>
        
            </tr>
          <tr>
            <th style="width: 110px;text-align: left;">Discharge Date </th> <td style="width: 250px;">:{{currentDate | date:"dd/MM/YYYY "}} &nbsp; {{currentDate | date:"HH:mm "}}</td>
            <th style="width: 150px;text-align: left;">Address</th> <td style="width: 150px;">:{{pp.address}}</td>

          </tr>
        
            <br>
        </table>
        
        </div>

        <div>
            <table >
                <thead>
                    <tr >
                        <th width="50px">Sr No.</th>
                        <th width="210px">Service Description</th>
                        <th width="100px">Rate</th>
                        <th width="50px">Unit</th>
                        <th width="170px">Amount</th>
                    </tr>
                </thead>
            </table>
        <div class="scroll" >
        <div style="border-top: 1px solid black; "  >
            <br>
            <b>HOSPITAL SERVICES</b>&nbsp;
            <a type="button"
                    (click)="addProduct()"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
           <div >
         <table >
         
             <tbody>
                 <tr  *ngFor="let product of invoice.products; let i=index">
                     <td >
                         <input type="text" style="width: 50px;"   [(ngModel)]="product.sr">
                     </td>
                     <td >
                         <input type="text" style="width: 200px;"   [(ngModel)]="product.name">
                     </td >
                     <td >
                         <input type="number" style="width: 100px;"  [(ngModel)]="product.price">
                     </td>
                     <td >
                         <input type="number" style="width: 50px;"  [(ngModel)]="product.qty">

                     </td>
                     <td >
                       &nbsp;  {{product.price * product.qty || ''}}
                     </td>
                  
             </tbody>
            
         </table>
         
     
     </div>
 </div>


 <div style="border-top: 1px solid black; " >
    <br>
    <b>MEDICAL ATTENDENCE</b>&nbsp;
    <a type="button"
            (click)="addmedical()"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
   <div >
 <table >
   
     <tbody>
         <tr  *ngFor="let product of invoice.medical; let i=index">
             <td >
                 <input type="text" style="width: 50px;"   [(ngModel)]="product.sr">
             </td>
             <td >
                 <select type="text" style="width: 200px; height: 30px;"  [(ngModel)]="product.name">
                    <option value="Medical Attentance">Medical Attentance</option>
                 </select>
             </td >
             <td >
                 <input type="number" style="width: 100px;"  [(ngModel)]="product.price">
             </td>
             <td >
                 <input type="number" style="width: 50px;"  [(ngModel)]="product.qty">

             </td>
             <td >
               &nbsp;  {{product.price * product.qty || ''}}
             </td>
          
     </tbody>
    
 </table>
 

</div>
</div>




<div style="border-top: 1px solid black; " >
    <br>
    <b>NURSING CHARGES</b>&nbsp;
    <a type="button"
            (click)="addnursing()"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
   <div >
 <table >
    
     <tbody>
         <tr  *ngFor="let product of invoice.nursing; let i=index">
             <td >
                 <input type="text" style="width: 50px;"   [(ngModel)]="product.sr">
             </td>
             <td >
                 <select type="text" style="width: 200px; height: 30px;"  [(ngModel)]="product.name">
                    <option  value="Nursing Charges">Nursing Charges</option>
                 </select>
             </td >
             <td >
                 <input type="number" style="width: 100px;"  [(ngModel)]="product.price">
             </td>
             <td >
                 <input type="number" style="width: 50px;"  [(ngModel)]="product.qty">

             </td>
             <td >
               &nbsp;  {{product.price * product.qty || ''}}
             </td>
          
     </tbody>
    
 </table>
 

</div>
</div>




<div style="border-top: 1px solid black; " >
    <br>
    <b>PATHOLOGY</b>&nbsp;
    <a type="button"
            (click)="addpathology()"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
   <div >
 <table >
   
     <tbody>
         <tr  *ngFor="let product of invoice.pathology; let i=index">
             <td >
                 <input type="text" style="width: 50px;"   [(ngModel)]="product.sr">
             </td>
             <td >
                <input type="text" style="width: 200px;"  [(ngModel)]="product.name">

                
             </td >
             <td >
                 <input type="number" style="width: 100px;"  [(ngModel)]="product.price">
             </td>
             <td >
                 <input type="number" style="width: 50px;"  [(ngModel)]="product.qty">

             </td>
             <td >
               &nbsp;  {{product.price * product.qty || ''}}
             </td>
          
     </tbody>
    
 </table>
 

</div>
</div>




<div style="border-top: 1px solid black; " >
    <br>
    <b>ADMINISTRATION CHARGES</b>&nbsp;
    <a type="button"
            (click)="addAdmCharges()"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
   <div >
 <table >
   
     <tbody>
         <tr  *ngFor="let product of invoice.administration; let i=index">
             <td >
                 <input type="text" style="width: 50px;"   [(ngModel)]="product.sr">
             </td>
             <td >
                 <select type="text" style="width: 200px; height: 30px;"  [(ngModel)]="product.name">
                    <option  value="Administration Charges">Administration Charges</option>
                 </select>
             </td >
             <td >
                 <input type="number" style="width: 100px;"  [(ngModel)]="product.price">
             </td>
             <td >
                 <input type="number" style="width: 50px;"  [(ngModel)]="product.qty">

             </td>
             <td >
               &nbsp;  {{product.price * product.qty || ''}}
             </td>
          
     </tbody>
    
 </table>
 

</div>
</div>



<div style="border-top: 1px solid black; " >
    <br>
    <b>BED SERVICES</b>&nbsp;
    <a type="button"
            (click)="addbed()"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
   <div >
 <table >
   
     <tbody>
         <tr  *ngFor="let product of invoice.bed; let i=index">
             <td >
                 <input type="text" style="width: 50px;"   [(ngModel)]="product.sr">
             </td>
             <td >
                 <select type="text" style="width: 200px; height: 30px;"  [(ngModel)]="product.name">
                    <option  value="Bed Charges">Bed Charges</option>
                 </select>
             </td >
             <td >
                 <input type="number" style="width: 100px;"  [(ngModel)]="product.price">
             </td>
             <td >
                 <input type="number" style="width: 50px;"  [(ngModel)]="product.qty">

             </td>
             <td >
               &nbsp;  {{product.price * product.qty || ''}}
             </td>
          
     </tbody>
    
 </table>
 

</div>
</div>


<div style="border-top: 1px solid black; " >
    <br>
    <b>BIOMEDICAL WASTE</b>&nbsp;
    <a type="button"
            (click)="addbio()"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
   <div >
 <table >
   
     <tbody>
         <tr  *ngFor="let product of invoice.bio; let i=index">
             <td >
                 <input type="text" style="width: 50px;"   [(ngModel)]="product.sr">
             </td>
             <td >
                 <select type="text" style="width: 200px; height: 30px;"  [(ngModel)]="product.name">
                    <option  value="Biomedical Waste">Biomedical Waste</option>
                 </select>
             </td >
             <td >
                 <input type="number" style="width: 100px;"  [(ngModel)]="product.price">
             </td>
             <td >
                 <input type="number" style="width: 50px;"  [(ngModel)]="product.qty">

             </td>
             <td >
               &nbsp;  {{product.price * product.qty || ''}}
             </td>
          
     </tbody>
    
 </table>
 

</div>
</div>


<div style="border-top: 1px solid black; " >
    <br>
    <b>CONSULATATION CHARGES</b>&nbsp;
    <a type="button"
            (click)="addconsulatation()"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
   <div >
 <table >
   
     <tbody>
         <tr  *ngFor="let product of invoice.consulatation; let i=index">
             <td >
                 <input type="text" style="width: 50px;"   [(ngModel)]="product.sr">
             </td>
             <td >
                <input type="text" style="width: 200px;"  [(ngModel)]="product.name">

           
             </td >
             <td >
                 <input type="number" style="width: 100px;"  [(ngModel)]="product.price">
             </td>
             <td >
                 <input type="number" style="width: 50px;"  [(ngModel)]="product.qty">

             </td>
             <td >
               &nbsp;  {{product.price * product.qty || ''}}
             </td>
          
     </tbody>
    
 </table>
 

</div>
</div>


<div style="border-top: 1px solid black; " >
    <br>
    <b>EQUIPMENT CHARGES</b>&nbsp;
    <a type="button"
            (click)="addequipment()"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
   <div >
 <table >
   
     <tbody>
         <tr  *ngFor="let product of invoice.equipment; let i=index">
             <td >
                 <input type="text" style="width: 50px;"   [(ngModel)]="product.sr">
             </td>
             <td >
                 <select type="text" style="width: 200px; height: 30px;"  [(ngModel)]="product.name">
                    <option  value="">Equiment List</option>
                 </select>
             </td >
             <td >
                 <input type="number" style="width: 100px;"  [(ngModel)]="product.price">
             </td>
             <td >
                 <input type="number" style="width: 50px;"  [(ngModel)]="product.qty">

             </td>
             <td >
               &nbsp;  {{product.price * product.qty || ''}}
             </td>
          
     </tbody>
    
 </table>
 

</div>
</div>


<div style="border-top: 1px solid black; " >
    <br>
    <b>HOSPITAL CHARGES</b>&nbsp;
    <a type="button"
            (click)="addHospitalCharges()"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
   <div >
 <table >
   
     <tbody>
         <tr  *ngFor="let product of invoice.hospitalcharges; let i=index">
             <td >
                 <input type="text" style="width: 50px;"   [(ngModel)]="product.sr">
             </td>
             <td >
                <input type="text" style="width: 200px;"  [(ngModel)]="product.name">

                
             </td >
             <td >
                 <input type="number" style="width: 100px;"  [(ngModel)]="product.price">
             </td>
             <td >
                 <input type="number" style="width: 50px;"  [(ngModel)]="product.qty">

             </td>
             <td >
               &nbsp;  {{product.price * product.qty || ''}}
             </td>
          
     </tbody>
    
 </table>
 

</div>
</div>






<div style="border-top: 1px solid black; " >
    <br>
    <b> RADIOLOGY</b>&nbsp;
    <a type="button"
            (click)="addradiology()"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
   <div >
 <table >
   
     <tbody>
         <tr  *ngFor="let product of invoice.radiology; let i=index">
             <td >
                 <input type="text" style="width: 50px;"   [(ngModel)]="product.sr">
             </td>
             <td >
                 <select type="text" style="width: 200px; height: 30px;"  [(ngModel)]="product.name">
                    <option  value="">X ray chest </option>
                 </select>
             </td >
             <td >
                 <input type="number" style="width: 100px;"  [(ngModel)]="product.price">
             </td>
             <td >
                 <input type="number" style="width: 50px;"  [(ngModel)]="product.qty">

             </td>
             <td >
               &nbsp;  {{product.price * product.qty || ''}}
             </td>
          
     </tbody>
    
 </table>
 

</div>
</div>



<div style="border-top: 1px solid black; " >
    <br>
    <b>OTHER CHARGES</b>&nbsp;
    <a type="button"
            (click)="addothercharges()"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
   <div >
 <table >
   
     <tbody>
         <tr  *ngFor="let product of invoice.othercharges; let i=index">
             <td >
                 <input type="text" style="width: 50px;"   [(ngModel)]="product.sr">
             </td>
             <td >
                 <select type="text" style="width: 200px; height: 30px;"  [(ngModel)]="product.name">
                    <option  value="">Hospital Charges</option>
                 </select>
             </td >
             <td >
                 <input type="number" style="width: 100px;"  [(ngModel)]="product.price">
             </td>
             <td >
                 <input type="number" style="width: 50px;"  [(ngModel)]="product.qty">

             </td>
             <td >
               &nbsp;  {{product.price * product.qty || ''}}
             </td>
          
     </tbody>
    
 </table>
 <br>
 <div class="form-group row">
    <div class="col-sm-3">
      <input type="text"  id="firstname" autocomplete="off" placeholder="Enter Payment Mode" [(ngModel)]="payment"  >
    </div>
    
    <div class="col-sm-3">
        <input type="text"  id="firstname" autocomplete="off" placeholder="Enter Cashier Name" [(ngModel)]="cashier"  >
      </div>
   
    </div><br>
</div>
</div>






    </div>

</div>
<div >
    <button (click)="save()" class="btn-talk">Submit</button>&nbsp;
&nbsp;  <button printSectionId="print-section"  *ngIf="step>=1" ngxPrint  class="btn-talk" > <i class="fa fa-print" aria-hidden="true"></i> </button>
    <button  style="margin-left: 20px;" class="btn-talk">  Back</button>
</div>
</div></div>










<div style="margin-left: 50px; "  hidden id="print-section" #content >
    



    <div style=" margin-left: 40px;font-family: 'Times New Roman', Times, serif;margin-top: 40px;">
        <img  style="width:708px ;" src="/assets/images/logo.jpeg">

                <br>
        <br><h4 style="text-align: center;margin-top: -15px;">IPD Bill</h4>
        <div  style=" margin-right: 30px;margin-top: -30px;">
        
        
        <div style="font-size: small;">
        
        <table style="border: 1px solid black;">
        
           
            <tr>
                <th style="width: 150px;text-align: left;">Patient Name </th> <td style="width: 550px; ">:{{pp.title}} {{pp.firstname}} {{pp.middlename}} {{pp.lastname}}</td>
                <th style="width: 110px;text-align: left;">IPD No</th> <td style="width: 150px;">:{{pp.id}}</td>
            </tr>
            <tr>
                <th style="width: 150px;text-align: left;">Age /Gender </th> <td style="width: 250px;">:{{pp.age}} &nbsp;Y/{{pp.gender}}</td>
                <th style="width: 110px;text-align: left;">Department </th> <td style="width: 150px;">:{{pp.drdetails.drdept}}</td>
        
        
            </tr>
            <tr>
                <th style="width: 150px;text-align: left;">Admitted Date  </th><td style="width: 250px;">:{{pp.drdetails.drname}}</td>
                <th style="width: 110px;text-align: left;">Consultant Dr </th> <td style="width: 250px;">: {{phmid}}</td>
        
            </tr>
          <tr>
            <th style="width: 110px;text-align: left;">Discharge Date </th> <td style="width: 250px;">:{{currentDate | date:"dd/MM/YYYY "}} &nbsp; {{currentDate | date:"HH:mm "}}</td>
            <th style="width: 150px;text-align: left;">Address</th> <td style="width: 150px;">:{{pp.address}}</td>
            
          </tr>
        
            <br>
        </table>
        
        </div>
        
        
        
        <div >
        
            <div >
        
        
        <table style="border: 1px solid black; margin-top: -1px;" >
            <thead>
                <tr >
                    <th width="100px" style="text-align: left;">Sr No.</th>
                    <th width="550px" style="text-align: left;">Service Description</th>
                    <th width="200px" style="text-align: right;">Rate</th>
                    <th width="100px" style="text-align: right ;">Unit</th>
                    <th width="250px" style="text-align: right;">Amount</th>
                    <th width="200px"></th>
                </tr>
            </thead>
        </table>
            
<table >
            <tbody>
                <br>
              <b><u>HOSPITAL SERVICES</u></b>
                <tr  *ngFor="let product of invoice.products; let i=index">
                    <td width="120px" style="text-align: center;">
                        {{product.sr}}
                    </td>
                    <td width="500px" style="text-align: left;">
                        {{product.name}}
                    </td >
                    <td width="200px" style="text-align: right;">
                        {{product.price}}
                    </td>
                    <td width="100px" style="text-align: right;">
                            {{product.qty}}
                    </td>
                    <td width="250px" style="text-align: right;">
                      &nbsp;  {{product.price * product.qty || ''}}
                    </td>
                    <td width="200px"></td>
                </tr>
            </tbody>
        
</table><hr style="width: 325px;margin-left: 350px; color: black;">
<table  >
    <tr>
        <th style="padding-left: 450px; text-align: left;"  >Total </th>
        <td style="padding-left: 70px;"> {{hospitalservicetotal}}</td>
    </tr>
</table>


</div>
<div  style="border-top: 1px solid black;">


<table >
    <tbody>
        
        <b> <u>MEDICAL ATTENDENCE </u></b><br>
        <tr  *ngFor="let product of invoice.medical; let i=index">
            <td width="120px" style="text-align: center;">
                {{product.sr}}
            </td>
            <td width="500px" style="text-align: left;">
                {{product.name}}
            </td >
            <td width="200px" style="text-align: right;">
                {{product.price}}
            </td>
            <td width="100px" style="text-align: right;">
                    {{product.qty}}
            </td>
            <td width="250px" style="text-align: right;">
              &nbsp;  {{product.price * product.qty || ''}}
            </td>
            <td width="200px"></td>
        </tr>
    </tbody>

</table>
<hr  style="width: 325px;margin-left: 350px; color: black;">
<table >
<tr>
<th style="padding-left: 450px; text-align: left;"  >Total </th>
<td style="padding-left: 70px;"> {{medicalAttendencetotal}}</td>
</tr>

</table>

</div>
<div  style="border-top: 1px solid black;">



<table >
    <tbody>
        
        <b><u>NURSING CHARGES</u></b><br>
        <tr  *ngFor="let product of invoice.nursing let i=index">
            <td width="120px" style="text-align: center;">
                {{product.sr}}
            </td>
            <td width="500px" style="text-align: left;">
                {{product.name}}
            </td >
            <td width="200px" style="text-align: right;">
                {{product.price}}
            </td>
            <td width="100px" style="text-align: right;">
                    {{product.qty}}
            </td>
            <td width="250px" style="text-align: right;">
              &nbsp;  {{product.price * product.qty || ''}}
            </td>
            <td width="200px"></td>
        </tr>
    </tbody>

</table><hr  style="width: 325px;margin-left: 350px; color: black;">
<table  >
<tr>
<th style="padding-left: 450px; text-align: left;"  >Total </th>
<td style="padding-left: 70px;"> {{nursingtotal}}</td>
</tr>


</table>

</div>
<div  style="border-top: 1px solid black;">


<table>
    <tbody>
        
        <b><u>PATHOLOGY</u></b><br>
        <tr  *ngFor="let product of invoice.pathology let i=index">
            <td width="120px" style="text-align: center;">
                {{product.sr}}
            </td>
            <td width="500px" style="text-align: left;">
                {{product.name}}
            </td >
            <td width="200px" style="text-align: right;">
                {{product.price}}
            </td>
            <td width="100px" style="text-align: right;">
                    {{product.qty}}
            </td>
            <td width="250px" style="text-align: right;">
              &nbsp;  {{product.price * product.qty || ''}}
            </td>
            <td width="200px"></td>
        </tr>
    </tbody>

</table><hr  style="width: 325px;margin-left: 350px; color: black;">
<table  >
<tr>
<th style="padding-left: 450px; text-align: left;"  >Total </th>
<td style="padding-left: 70px;"> {{pathologytotal}}</td>
</tr>


</table>




</div>
<div  style="border-top: 1px solid black;">



<table >
    <tbody>
        
        <b><u>ADMINISTRATION CHARGES</u></b><br>
        <tr  *ngFor="let product of invoice.administration let i=index">
            <td width="120px" style="text-align: center;">
                {{product.sr}}
            </td>
            <td width="500px" style="text-align: left;">
                {{product.name}}
            </td >
            <td width="200px" style="text-align: right;">
                {{product.price}}
            </td>
            <td width="100px" style="text-align: right;">
                    {{product.qty}}
            </td>
            <td width="250px" style="text-align: right;">
              &nbsp;  {{product.price * product.qty || ''}}
            </td>
            <td width="200px"></td>
        </tr>
    </tbody>

</table><hr  style="width: 325px;margin-left: 350px; color: black;">
<table  >
<tr>
<th style="padding-left: 450px; text-align: left;"  >Total </th>
<td style="padding-left: 70px;"> {{administrationtotal}}</td>
</tr>


</table>





</div>
<div  style="border-top: 1px solid black;">



<table >
    <tbody>
        
        <b><u>BED SERVICES</u></b><br>
        <tr  *ngFor="let product of invoice.bed let i=index">
            <td width="120px" style="text-align: center;">
                {{product.sr}}
            </td>
            <td width="500px" style="text-align: left;">
                {{product.name}}
            </td >
            <td width="200px" style="text-align: right;">
                {{product.price}}
            </td>
            <td width="100px" style="text-align: right;">
                    {{product.qty}}
            </td>
            <td width="250px" style="text-align: right;">
              &nbsp;  {{product.price * product.qty || ''}}
            </td>
            <td width="200px"></td>
        </tr>
    </tbody>

</table><hr  style="width: 325px;margin-left: 350px; color: black;">
<table  >
<tr>
<th style="padding-left: 450px; text-align: left;"  >Total </th>
<td style="padding-left: 70px;"> {{bedtotal}}</td>
</tr>


</table>

</div>
<div  style="border-top: 1px solid black;">




<table>
    <tbody>
        
        <b><u>BIO MEDICAL</u></b><br>
        <tr  *ngFor="let product of invoice.bio let i=index">
            <td width="120px" style="text-align: center;">
                {{product.sr}}
            </td>
            <td width="500px" style="text-align: left;">
                {{product.name}}
            </td >
            <td width="200px" style="text-align: right;">
                {{product.price}}
            </td>
            <td width="100px" style="text-align: right;">
                    {{product.qty}}
            </td>
            <td width="250px" style="text-align: right;">
              &nbsp;  {{product.price * product.qty || ''}}
            </td>
            <td width="200px"></td>
        </tr>
    </tbody>

</table><hr  style="width: 325px;margin-left: 350px; color: black;">
<table  >
<tr>
<th style="padding-left: 450px; text-align: left;"  >Total </th>
<td style="padding-left: 70px;"> {{biototal}}</td>
</tr>


</table>



</div>
<div  style="border-top: 1px solid black;">



<table >
    <tbody>
        
        <b><u>CONSULATATION CHARGES</u></b><br>
        <tr  *ngFor="let product of invoice.consulatation let i=index">
            <td width="120px" style="text-align: center;">
                {{product.sr}}
            </td>
            <td width="500px" style="text-align: left;">
                {{product.name}}
            </td >
            <td width="200px" style="text-align: right;">
                {{product.price}}
            </td>
            <td width="100px" style="text-align: right;">
                    {{product.qty}}
            </td>
            <td width="250px" style="text-align: right;">
              &nbsp;  {{product.price * product.qty || ''}}
            </td>
            <td width="200px"></td>
        </tr>
    </tbody>

</table><hr  style="width: 325px;margin-left: 350px; color: black;">
<table >
<tr>
<th style="padding-left: 450px; text-align: left;"  >Total </th>
<td style="padding-left: 70px;"> {{consulatationtotal}}</td>
</tr>


</table>




            </div>
<div  style="border-top: 1px solid black;">


<table >
    <tbody>
        
        <b><u>EQUIPMENT CHARGES</u></b><br>
        <tr  *ngFor="let product of invoice.equipment let i=index">
            <td width="120px" style="text-align: center;">
                {{product.sr}}
            </td>
            <td width="500px" style="text-align: left;">
                {{product.name}}
            </td >
            <td width="200px" style="text-align: right;">
                {{product.price}}
            </td>
            <td width="100px" style="text-align: right;">
                    {{product.qty}}
            </td>
            <td width="250px" style="text-align: right;">
              &nbsp;  {{product.price * product.qty || ''}}
            </td>
            <td width="200px"></td>
        </tr>
    </tbody>

</table><hr  style="width: 325px;margin-left: 350px; color: black;">
<table  >
<tr>
<th style="padding-left: 450px; text-align: left;"  >Total </th>
<td style="padding-left: 70px;"> {{equipmenttotal}}</td>
</tr>


</table>

</div>
<div  style="border-top: 1px solid black;">


<table >
    <tbody>
        
        <b><u>HOSPITAL CHARGES</u></b><br>
        <tr  *ngFor="let product of invoice.hospitalcharges let i=index">
            <td width="120px" style="text-align: center;">
                {{product.sr}}
            </td>
            <td width="500px" style="text-align: left;">
                {{product.name}}
            </td >
            <td width="200px" style="text-align: right;">
                {{product.price}}
            </td>
            <td width="100px" style="text-align: right;">
                    {{product.qty}}
            </td>
            <td width="250px" style="text-align: right;">
              &nbsp;  {{product.price * product.qty || ''}}
            </td>
            <td width="200px"></td>
        </tr>
    </tbody>

</table><hr  style="width: 325px;margin-left: 350px; color: black;">
<table  >
<tr>
<th style="padding-left: 450px; text-align: left;"  >Total </th>
<td style="padding-left: 70px;"> {{hospitalchargestotal}}</td>
</tr>


</table>
            </div>

<div  style="border-top: 1px solid black;">


<table >
    <tbody>
        
        <b><u>RADIOLOGY </u></b><br>
        <tr  *ngFor="let product of invoice.radiology let i=index">
            <td width="120px" style="text-align: center;">
                {{product.sr}}
            </td>
            <td width="500px" style="text-align: left;">
                {{product.name}}
            </td >
            <td width="200px" style="text-align: right;">
                {{product.price}}
            </td>
            <td width="100px" style="text-align: right;">
                    {{product.qty}}
            </td>
            <td width="250px" style="text-align: right;">
              &nbsp;  {{product.price * product.qty || ''}}
            </td>
            <td width="200px"></td>
        </tr>
    </tbody>

</table><hr  style="width: 325px;margin-left: 350px; color: black;">
<table  >
<tr>
<th style="padding-left: 450px; text-align: left;"  >Total </th>
<td style="padding-left: 70px;"> {{radiologytotal}}</td>
</tr>


</table>



</div>

<div  style="border-top: 1px solid black;">


<table  >
    <tbody>
        
        <b><u>OTHER CHARGES</u></b><br>
        <tr  *ngFor="let product of invoice.othercharges let i=index">
            <td width="120px" style="text-align: center;">
                {{product.sr}}
            </td>
            <td width="500px" style="text-align: left;">
                {{product.name}}
            </td >
            <td width="200px" style="text-align: right;">
                {{product.price}}
            </td>
            <td width="100px" style="text-align: right;">
                    {{product.qty}}
            </td>
            <td width="250px" style="text-align: right;">
              &nbsp;  {{product.price * product.qty || ''}}
            </td>
            <td width="200px"></td>
        </tr>
    </tbody>

</table><hr  style="width: 325px;margin-left: 350px; color: black;">
<table >
<tr>
<th style="padding-left: 450px; text-align: left;"  >Total </th>
<td style="padding-left: 70px;"> {{othertotal}}</td>
</tr>


</table>
</div>


            </div></div>
            <hr style="border-top: 2px solid black;">

            <table style="margin-left: 60px;" >
                <tr  >
                    <th style="padding-left: 280px; text-align: left;"  >Total Bill Amount</th>
                    <td style="padding-left: 70px;"> {{total1}}</td>
                </tr>
                <tr >
                    <th style="padding-left: 280px;text-align: left" >Net Payable Amount</th>
                    <td style="padding-left: 70px;"> {{total1}}</td>
                </tr>
                <tr  >
                    <th  style="padding-left: 280px;text-align: left">Paid  Amount</th>
                    <td style="padding-left: 70px;"> {{total1}}</td>
                </tr>
                <tr >
                    <th  style="padding-left: 280px;text-align: left">Payment Mode &nbsp;:{{payment}}</th>
                    <td style="padding-left: 70px;"> {{total1}}</td>
                </tr>
              
        
        </table>


        
    
        <div style="border-top: 1px solid black; border-bottom: 1px solid black;">
           <table >
            <tr>
                <th>Received And Thanks</th>
                
                <td>&nbsp;{{total1 | currency:"INR" }}</td>
            </tr></table>
            <table style="margin-left: 500px;">
            <tr>
                <th >Signature</th>
                
            </tr>
            <tr>
                <td>{{cashier}}</td>
            </tr>
           </table>
           </div>
        </div>
        </div>
